# --- ADD THESE TWO LINES AT THE VERY TOP ---
--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
pydantic-settings
alembic
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
python-multipart
celery[redis]
unstructured[local-inference]
langchain
sentence-transformers
chromadb-client
python-magic
pypdf